<div class="banner">
  <div class="banner-content">
    <h1>Hey ! </h1>
    <p>Moi c'est Ines Naamane </p>
  </div>
  <div class="banner-content">
   <%= image_tag "bannerpic.png" %>
  </div>
  <div class="banner-icon">
    <p><i class="fa-regular fa-circle-down"></i></p>
  </div>
</div>



