<div class="banner">
  <div class="banner-content">
    <h1 id="title"><strong id="hey"> Hey !</strong> Moi c'est Ines Naamane</h1>
    <p id="description"> Développeuse web passionnée, je vous accompagne dans la création de votre identité visuelle.</p>
    <p data-controller="typing-effect" data-typing-effect-words-value='["sites internet", "applications web"]' class="typing-effect">
    Je crée des <span data-typing-effect-target="word"></span><span data-typing-effect-target="cursor" class="typing-effect">|</span>
    </p>
  </div>

  <div class="banner-content">
   <%= image_tag "bannerpic1.png" %>
  </div>

  <div class="banner-icon">
    <p><i class="fa-solid fa-angles-down"></i></p>
  </div>

</div>
