
<footer class="footer-section">
  <div class="section">
    <div class="container">
      <div class="item-social">
        <div class="item">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="item">
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="item">
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright &copy; 2023 Ines Naamane. All right reserved. </p>
  </div>
</footer>
