
<nav class="navbar">
  <div class="navbar-logo">
    <a class="navbar-brand" href="#">IN</a>
  </div>
  <ul class="navbar-menu">
    <li><a href="#">ACCUEIL</a></li>
    <li><a href="#">SERVICES</a></li>
    <li><a href="#">COMPETENCES</a></li>
    <li><a href="#">PORTFOLIO</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
</nav>

