
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: white;
  margin-right: -90px;
}


.banner-content {
  width: 50%;
  padding: 0 3rem;
  margin-top: 30px;
}


.banner-content img {
  width: 80%;

}


.fa-angles-down {
  font-size: 50px;
  color: #F9CC48;
  animation: moveDown 2s infinite;
  transition: transform 0.2s ease-in-out;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}


.banner-icon {
  margin-right: 85px;
}


// .fa-solid:hover {
//   transform: scale(1.1);
// }

#hey {
color: #F9CC48;
font-family: 'Maven Pro', sans-serif;
font-size: 45px;
}


#title {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-size: 40px;
}


#description {
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  color: #5b5b5b;
}

#brand {
  font-family: 'Maven Pro', sans-serif;
  color: #5b5b5b;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 5.2px;
  margin-bottom: -5px;
  padding-left: 20px;

}


#brand1 {
  font-family: 'Maven Pro', sans-serif;
  color: #5b5b5b;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 5.2px;
  padding-left: 450px;
  margin-top: -10px;

}
// typing effect

.typing-effect {
  font-family: 'Maven Pro', sans-serif;
  font-size: 35px;
}

.typing-effect span:first-child {
  color: #F9CC48;
}

.typing-effect span:last-child {
  display: inline-block;
  margin-left: -5px;
  width: 10px;
  height: 45px;
  color: #5b5b5b;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
