
.footer-section {
  padding-top: 200px;
  background-color: #F9CC48;

}

.item-social {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}


@media (max-width:767px) {
  .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .item-social {
    text-align:center;
  }
}

.item-social .item > a {
  font-size:45px;
  width:80px;
  height:80px;
  line-height:80px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid white;
  color:#ee6382;
  opacity:0.75;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF, 0 0 60px #FFF;
  transition: all 0.3s ease-in-out;
  animation: flicker 0.6s infinite alternate;

}

.item-social .item > a:hover {
  opacity:1;
  background-color: #FFF;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF, 0 0 60px #FFF;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}


@keyframes flicker {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}


@media (max-width:991px) {
  .item-social .item > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .item-social .item > a {
    margin-top:10px;
  }
}

.copyright {
  border-top: 1px solid white;
  text-align: center;
  padding: 2rem;
  margin-top:10px;
  margin-bottom:0;
  font-size:15px;
  opacity:0.6;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  color: white;
}
