.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  z-index: 9999;
  position: sticky;
  top: 0;
}


.navbar-brand {
  font-size: 42px;
  font-weight: bolder;
  color: #F9CC48;
  text-decoration: none;
  line-height: 45px;
  padding: 10px 0 0 12px;
  font-family: 'Bruno Ace', cursive;

}

.navbar-brand:hover {
  color: black;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-menu li {
  margin-right: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 1px;
}

.navbar-menu a {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-menu a:hover {
  color: #F9CC48;
}
